## assignment to strings
 is not possible

In [1]:
name="vinod"
name[0]="b"
print(name)

TypeError: 'str' object does not support item assignment

In [2]:
name="b"+name[0:]

In [3]:
print(name)

bvinod

In [4]:
name="b"+name[1:]

In [5]:
print(name)

bvinod

In [6]:
name="b"+name[2:]
print(name)

binod

In [7]:
name="akshit"
name="har"+name[2:]

In [8]:
print(name)

harshit

In [9]:
name[34:98]

''

In [10]:
l=[12,34,["rohit","mohit","aman"],"56","90"]
l[23:45]

[]

In [34]:
l=[12,34,["rohit","mohit","aman"],"56","90"]
for i in l[0:2]:
    print(l)

[12, 34, ['rohit', 'mohit', 'aman'], '56', '90']
[12, 34, ['rohit', 'mohit', 'aman'], '56', '90']

In [35]:
p=len(l)
print(p)

5

In [16]:
l[0:34]

[12, 34, ['rohit', 'mohit', 'aman'], '56', '90']

In [21]:
for i in l:
    print(i)

12
34
['rohit', 'mohit', 'aman']
56
90

In [12]:
text= "hello rohit"
#import string

new=text.replace("rohit","mohit")
print(new)

hello mohit

In [15]:
our_str="hello,you,you and you"

new=our_str.replace("you","me",1)
print(new)
new=our_str.replace("you","me",2)
print(new)
new=our_str.replace("you","me",3)
print(new)

hello,me,you and you
hello,me,me and you
hello,me,me and me

In [20]:
data_base=None

try:
    db=mydata_base(host,user,password)
    data_base=db.connect()
except DatabaseException:
    pass
if data_base==None:
   print("could not connect")
else:
   print("connected to the database")

NameError: name 'DatabaseException' is not defined

to print table of 2 using for loop and range function

In [22]:
for i in range(1,11):
    print("2* " ,i,"=",2*i)

2*  1 = 2
2*  2 = 4
2*  3 = 6
2*  4 = 8
2*  5 = 10
2*  6 = 12
2*  7 = 14
2*  8 = 16
2*  9 = 18
2*  10 = 20

to check weather a given number is prime or not

In [28]:
n=int(input("please enter the number"))
flag=0
for i in range(2,n):
    if n%i==0:
        flag=1
if flag==0:
    print("the number is prime")
else:
    print("the number is composite")

please enter the number46
the number is composite

## welcome to booleans

In [36]:
age=28
if age>21:
    print("bakra hlal krnae ka smay a gya")

bakra hlal krnae ka smay a gya

In [37]:
age<9

False

In [39]:
age>10

True

the folowing statement will always execute

In [41]:
if True:
    print("hello there")

hello there

In [42]:
if "beta shadi kb krogae":
    print("kbhi nhi")

kbhi nhi

In [45]:
if "":
    print("kha na nhi")

In [46]:
if " ":
    print("kbhi nhi")

kbhi nhi

In [48]:
if False:
    print("ab itna kh hi rhae ho to")

In [49]:
if :
    print("kuch nhi")

SyntaxError: invalid syntax (<ipython-input-49-7cda2c713e36>, line 1)

In [50]:
if None:
    print("none statement means meaningless")

if else if ladder

In [53]:
age=int(input("please enter your age"))

if age>60:
    print("retirement")
elif age>50:
     print("work load")
elif age>30:
    print("children")
elif age>25:
    print("marriage")
else:
     print("student")

please enter your age29
marriage

In [54]:
new=("apple ","banana ","cherry",["rohit","mohit","aman"],"98"," ")
print(new)

('apple ', 'banana ', 'cherry', ['rohit', 'mohit', 'aman'], '98', ' ')

In [55]:
new[1]="blackcurrent"
print(new)

TypeError: 'tuple' object does not support item assignment

In [56]:
new[0:2]

('apple ', 'banana ')

In [57]:
new[0]

'apple '

In [58]:
type(new)

tuple

## dictionaries

let us first create an empty dictionary

In [59]:
my_dict={}
print(my_dict)

{}

now let us make keys and assign values to those keys in the dictionary

In [61]:
my_dict["name "]="machine learing"
my_dict["class"]="405"
my_dict["college"]="msit"
print(my_dict)

{'name ': 'machine learing', 'class': '405', 'college': 'msit'}

assigning more than one values at a time

In [62]:
my_dict["rohit","mohit","prchi"]="boy","rival","friend"
print(my_dict)

{'name ': 'machine learing', 'class': '405', 'college': 'msit', ('rohit', 'mohit', 'prchi'): ('boy', 'rival', 'friend')}

making a dictionary directly

In [63]:
my_dict1={10:"boards",12:"iit ki tiyari"}
print(my_dict1)

{10: 'boards', 12: 'iit ki tiyari'}

now make both keys and values as strings

In [65]:
my_dict2={"rohit":"computer engineer","di":"ministry of ext. affairs"}
print(my_dict2)

{'rohit': 'computer engineer', 'di': 'ministry of ext. affairs'}

now let us print the elements of the dictionary one by one

In [66]:
for i in my_dict2:
    print(i)

rohit
di

cleary it only prints the keys associted wih values

In [68]:
for i in my_dict.items():
    print(i)

('name ', 'machine learing')
('class', '405')
('college', 'msit')
(('rohit', 'mohit', 'prchi'), ('boy', 'rival', 'friend'))

the items() function is inbuilt and can be used to print each key-value pair in the dictionary

In [72]:
for i in my_dict.items():
    print(i[0],i[1])
    if i[1]=="class":
        break

name  machine learing
class 405
college msit
('rohit', 'mohit', 'prchi') ('boy', 'rival', 'friend')

In [73]:
for i,j in my_dict.items():
    print(i,j)

name  machine learing
class 405
college msit
('rohit', 'mohit', 'prchi') ('boy', 'rival', 'friend')

this way we can print both the keys and values together

In [74]:
print(my_dict.keys())

dict_keys(['name ', 'class', 'college', ('rohit', 'mohit', 'prchi')])

the keys() method is used to print all the keys associated with the dictionary

in order to find a value we need to specify the key corresponding to that value

In [78]:
my_dict

{'name ': 'machine learing',
 'class': '405',
 'college': 'msit',
 ('rohit', 'mohit', 'prchi'): ('boy', 'rival', 'friend')}

In [81]:
my_dict["class"]

'405'

In [82]:
my_dict["name "]

'machine learing'

In [83]:
my_dict["name"]

KeyError: 'name'

## functions

the error comes here because you have left a blank space in the key while defining the dictionary but there is no space while you 
tried to access the value

to create a function whose input is a number and it gives the list of the numbers as the output

In [93]:

def func(n):
    my_list=[]
    for i in range(0,n+1):
        my_list.append(i)
       
    return my_list

In [95]:
n=int(input("please enter the number till which we have to find the value"))

p=func(n)
print(p)

please enter the number till which we have to find the value100
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [97]:
# what if we are at the point of no return

def brush(time):
    print("i have brushed my teeth")

In [98]:
brush(12)

i have brushed my teeth

In [99]:
x=''
x==None

False

In [100]:
if None:
    print("my name is none")
else:
    print("i have some value")

i have some value

## important questions

In [101]:
x=[1]
y=[2]
z=[3]
x.append(y).append(z)

AttributeError: 'NoneType' object has no attribute 'append'

clearly the append function returns none value and we cannot use append function upon none as it will be meaningless